/* Coolors Exported Palette - coolors.co/0a122a-ad161b-ffffff-453a49-76b041 */

/* HSL */
$color1: hsla(225%, 62%, 10%, 1);
$color2: hsla(358%, 77%, 38%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(284%, 11%, 26%, 1);
$color5: hsla(91%, 46%, 47%, 1);

/* RGB */
$color1: rgba(10, 18, 42, 1);
$color2: rgba(173, 22, 27, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(69, 58, 73, 1);
$color5: rgba(118, 176, 65, 1);